/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "_colors";
@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Asap);

body {
	font-family: 'Dosis', Arial, sans-serif;
	text-align:center;
}

h1, h2, h3, h4, h5 h6 {
	font-weight: 700;
	color:$green;
}

h1 {
	font-size:96px;
	margin: 20px 0 20px;
}

#markerControls {
	margin-top:60px;

	.markerButton {
		background:$green;
		border:0;
		text-transform:lowercase;
		color:white;
		padding: 12px 0;
		width:97px;
		font-size:14px;
		font-weight:200;
		margin:0;
	}

	.markerButton:hover {
		cursor:pointer;
		background:$hovergreen;
	}
}

#info {
	line-height:150px;
	font-size:40px;
	color:black;
}

#info, #waveformWrap, #selectionWrap {
	margin:0 auto;
}

#info, #waveformWrap, #canvasContainer {
	width:1200px;
	height:150px;
}

#waveformWrap {
	position:relative;
	#songDuration {
		position:absolute;
		right:10px;
		bottom:-20px;
		color:$green;
	}
}

#selectionWrap {
	$width:400px;
	width:$width;

	#secondCanvasContainer {
		width:$width;
		height:150px;

		canvas {
			border:1px solid $selectioninfogrey;
		}
	}
	#selectionInfo {
		border:1px solid $selectioninfogrey;
		$height:32px;
		height:$height;
		width:$width;
		background: $selectioninfogrey;
		position:relative;

		span {
			position:absolute;
			color:$selectiondark;
			line-height:$height;
		}

		$indent:10px;
		#selectionStart {
			left:$indent;
		}

		#selectionEnd {
			right:$indent;
		}
	}
}
